ul {   
	display: flex; 
	font-family: sans-serif;
	list-style: none;
	padding: 0 100px;
}

li {
	color: white;
	/*flex-grow: 1;*/
	padding: 20px;
}


li:hover {
	color: black;
	background-color: white;
}
.grow {
	flex-grow: 1;
}


.red {background-color: red;}
.blue {background-color: blue;}
.green {background-color: green;}





